$lights-out-color: #000000;
$accent-color: #16181C;
$twitter-blue: #1D9BF0;
$twitter-gray: #5F6367;
$text-blue: #1A89D5;
$text-white: #E7E9EA;
$text-blue: rgb(29, 155, 240);
$twitter-radius: 50px;
$twitter-border: 1px solid rgb(32, 35, 39);